<div class="card m-5 ">
  <div class="card-body">
    <form id="contact-edit" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label class="form-label" for="id">Coin Id</label>
          <input
            type="number"
            name="id"
            id="id"
            [ngModel]="coin?.id"
            #id="ngModel"
            class="form-control required"
          />
        </div>
        <div class="col-sm-12 form-group">
          <label class="form-label" for="symbol">Symbol</label>
          <input
            type="text"
            id="symbol"
            name="symbol"
            [ngModel]="coin?.symbol"
            #symbol="ngModel"
            class="form-control required"
            size="120"
            max="120"
            required
          />
        </div>
        <div class="col-sm-12 form-group">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            [ngModel]="coin?.name"
            #name="ngModel"
            class="form-control required"
            size="120"
            max="120"
            required
          />
        </div>

        <div class="col-sm-12 form-group">
          <label for="rank" class="form-label">Rank</label>
          <input
            type="number"
            id="rank"
            name="rank"
            [ngModel]="coin?.rank"
            #rank="ngModel"
            class="form-control required"
            size="120"
            max="255"
            required
          />
        </div>

        <div class="col-sm-12 form-group">
          <label for="price_usd" class="form-label">Price</label>
          <input
            type="text"
            id="price_usd"
            name="price_usd"
            [ngModel]="coin?.price_usd"
            #price_usd="ngModel"
            class="form-control invalid"
            size="150"
            max="255"
          />
        </div>

        <div class="col-sm-12 form-group">
          <label for="imageUrl" class="form-label">Image URL</label>
          <input
            type="text"
            id="imageUrl"
            name="imageUrl"
            [ngModel]="coin?.imageUrl"
            #imageUrl="ngModel"
            class="form-control"
            size="150"
            max="255"
          />
        </div>
        <input
          type="hidden"
          name="_id"
          id="_id"
          [ngModel]="coin?._id"
          #_id="ngModel"
        />
      </div>

      <div class="card-footer">
        
          <button class="btn btn-success m-2" type="submit" [disabled]="!f.valid">
            Save
          </button>
          <button class="btn btn-primary m-2" type="button" (click)="onCancel()">
            Cancel
          </button>
        
      </div>
    </form>
  </div>
</div>
