<div
  class="card mb-3"
  style="width: 22rem;"
>
  <h3 class="card-header text-end">{{ coin.rank }}</h3>
  <div class="card-body d-flex justify-content-between">
    <h5 class="card-title">{{ coin.name }}</h5>
    <img
      src="https://c1.coinlore.com/img/25x25/{{ coin.nameid }}.png"
      alt="{{ coin.name }}"
    />
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="text-primary fw-bold">USD: </span>${{ coin.price_usd }}
    </li>
    <li class="list-group-item">
      <span class="text-primary fw-bold">24h: </span
      >{{ coin.percent_change_24h }}%
    </li>
    <li class="list-group-item">
      <span class="text-primary fw-bold">1h: </span
      >{{ coin.percent_change_1h }}%
    </li>
    <li class="list-group-item">
      <span class="text-primary fw-bold">7d: </span
      >{{ coin.percent_change_7d }}%
    </li>
    <li class="list-group-item">
      <span class="text-primary fw-bold">Price BTC: </span>{{ coin.price_btc }}
    </li>
    <li class="list-group-item">
      <span class="text-primary fw-bold">Market cap: </span
      >{{ coin.market_cap_usd }}
    </li>
    <li class="list-group-item">
      <span class="text-primary fw-bold">Volume 24h: </span>{{ coin.volume24 }}
    </li>
    <li class="list-group-item">
      <span class="text-primary fw-bold">Circulating Supply: </span
      >{{ coin.csupply }}
    </li>
    <li class="list-group-item">
      <span class="text-primary fw-bold">Total Supply: </span>{{ coin.tsupply }}
    </li>
    <li class="list-group-item">
      <span class="text-primary fw-bold">Max Supply: </span>{{ coin.msupply }}
    </li>
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-success">Add to My coins</button>
  </div>
</div>