<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <h3 class="title pad-left-right m-4">My Coins</h3>
      </div>
      <div class="row">
        <div class="input-group pull-left pad-left-right col-xs-7 mb-4">
          <input
            type="text"
            (input)="onKeyPress(searchBox.value)"
            class="form-control"
            placeHolder="Search"
            #searchBox
          />
          <a class="btn btn-success mx-2" [routerLink]="['new']">Add Coin</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-xs-12">
        <app-coin-item
          *ngFor="let coin of coins | myCoinsFilter: term"
          [coin]="coin"
        >
        </app-coin-item>
      </div>
    </div>
  </div>
</div>
